

<div class="fade-in-down-animation">
    <div class="article-content-container" >
      
        <div class="article-title" >
            <span class="title-hover-animation"><%= page.title %></span>            
        </div>
        <% if (page["header-img"]) { %>
            <span style="display: inline-block; height: 2px;"></span>
            <div class="article-title"  >
                <img src='<%= page["header-img"] || config.root + config["header-img"] %>'                  
                loading="lazy"
                decoding="async" 
                alt='<%= page["header-img-alt"] || config.root + config["header-img-alt"] %>'
                title='<%= page["header-img-title"] || config.root + config["header-img-title"] %>'
                style="width:100%;"/>    
            </div>
        <% } %>

        <%   { %>
            <div class="article-header-meta-info">
                <div class="meta-info">
                    <%- partial('_partial/article-meta-info', {articleObject: page, index: true}) %>
                </div>
            </div>
        <% } %>

        <div class="article-content markdown-body">
            <%- page.content %>
        </div>

        <% if (theme.copyright_info.enable) { %>
            <div class="post-copyright-info">
                <%- partial('_partial/article-copyright-info') %>
            </div>
        <% } %>

        <% if (page.tags.length) { %>
            <ul class="post-tags-box">
                <% page.tags.forEach((tag) => { %>
                    <li class="tag-item">
                        <a href="<%- url_for(tag.path) %>">#<%= tag.name %></a>&nbsp;
                    </li>
                <% }); %>
            </ul>
        <% } %>

        <% if (page.prev || page.next) { %>
            <div class="article-nav">
                <% if (page.prev) { %>
                    <div class="article-prev">
                        <a class="prev"
                           rel="prev"
                           href="<%= url_for(page.prev.path) %>"
                        >
                            <span class="left arrow-icon flex-center">
                              <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="title flex-center">
                                <span class="post-nav-title-item"><%= page.prev.title %></span>
                                <span class="post-nav-item"><%= __('prev_posts') %></span>
                            </span>
                        </a>
                    </div>
                <% } %>
                <% if (page.next) { %>
                    <div class="article-next">
                        <a class="next"
                           rel="next"
                           href="<%= url_for(page.next.path) %>"
                        >
                            <span class="title flex-center">
                                <span class="post-nav-title-item"><%= page.next.title %></span>
                                <span class="post-nav-item"><%= __('next_posts') %></span>
                            </span>
                            <span class="right arrow-icon flex-center">
                              <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                <% } %>
            </div>
        <% } %>

        <% if (theme.comment.enable === true && theme.comment.hasOwnProperty(theme.comment.use)) { %>
            <div class="comment-container">
                <%- partial('_partial/comment/comment') %>
            </div>
        <% } %>
    </div>
</div>
